Adafruit-Blinka==8.56.0
adafruit-circuitpython-ads1x15==3.0.2
adafruit-circuitpython-bh1750==1.1.14
adafruit-circuitpython-busdevice==5.2.11
adafruit-circuitpython-connectionmanager==3.1.3
adafruit-circuitpython-dht==4.0.7
adafruit-circuitpython-ltr390==1.1.19
adafruit-circuitpython-register==1.10.2
adafruit-circuitpython-requests==4.1.10
adafruit-circuitpython-tsl2561==3.3.20
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.77.0
Adafruit-PureIO==1.1.11
annotated-types==0.7.0
anyio==4.9.0
astroid==4.0.2
binho-host-adapter==0.1.6
black==25.11.0
blinker==1.9.0
cbor2==5.7.1
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.2.0
colorama==0.4.6
dill==0.4.0
dynamixel-sdk==4.0.3
fastapi==0.115.12
Flask==3.1.1
h11==0.16.0
idna==3.10
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
luma.core==2.5.2
luma.oled==3.14.0
MarkupSafe==3.0.3
mccabe==0.7.0
mypy_extensions==1.1.0
numpy==2.2.5
opencv-python-headless==4.13.0.92
packaging==25.0
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
pydantic==2.11.4
pydantic_core==2.33.2
pyftdi==0.56.0
pylint==4.0.3
pyserial==3.5
python-dotenv==1.1.0
pytokens==0.3.0
pyusb==1.3.1
requests==2.32.5
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==75.8.0
smbus2==0.5.0
sniffio==1.3.1
starlette==0.46.2
sysv_ipc==1.1.0
tomlkit==0.13.3
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.6.3
uvicorn==0.34.2
wcwidth==0.6.0
Werkzeug==3.1.3
wheel==0.45.1
