.widget:has(widget-button) {
  justify-content: center;
  color: white;
  --fg-3: #c0c0c0;
}

widget-button {
  cursor: pointer;
  display: flex;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 100%;
  max-height: calc(100% - 4px - 2.25rem);
  align-self: center;
  margin-top: 1rem;
}

widget-button button {
  cursor: pointer;
  margin: 1rem;
  border-radius: 100%;
  border: none;
  background-color: var(--clr);
}

widget-button:hover button {
  filter: brightness(0.8);
}

widget-button .value {
  font-size: 3rem;
}